[submodule "admin"]
	path = admin
	url = https://github.com/flovntp/bigfoot-workshop-with-api-admin.git
[submodule "api"]
	path = api
	url = https://github.com/flovntp/bigfoot-workshop-with-api-api.git
[submodule "gatsby"]
	path = gatsby
	url = https://github.com/flovntp/bigfoot-workshop-with-api-gatsby.git
[submodule "mercure"]
	path = mercure
	url = https://github.com/flovntp/bigfoot-workshop-with-api-mercure.git
